                h1 {
                    color: rgb(47, 187, 89);
                }
                
                h2 {
                    color: rgb(184, 53, 184);
                }
                
                #goback {
                    font-size: xx-large;
                }